<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<!-- cục giới thiệu -->
			
				<div class="list-group-item list-group-item-home">
					<h1><font  size="30"  color="red" <big> <strong> <blink> RoboticsLab  </blink></big> </strong> </font> <small>2017</small>
					</h1>
				</div>
			
			
				<!-- Cục cảm biến -->
				<div class="list-group-item list-group-item-home">
				<h1> DATA OF SENER </h1>
				<div>
					<i class="fa fa-gamepad feature-icon text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading"><small>SONAR SENSER</small></h3>
						<div ng-repeat="sonar_value in sonar  track by $index">
							SONAR {{$index}} : {{sonar[$index]}} cm .
						</div>
				</div>	
				<div>
					<h3 class="home-heading"><small>TEMPERATURE</small></h3>
						{{temp}}°C
				</div>
				<div>
					<h3 class="home-heading"> <small>SENSER PIR</small></h3>
					<button class ="text" size="200" color =#800000 >
						{{pir}}
					<!-- -->
					
				</div>
				<div>
					<h3 class="home-heading"><small> STATUS</small></h3>
					<button class ="text" size="200" color =#800000 >
						{{stt}}
					<!-- -->
					
				</div>
				<div>
					<h3 class="home-heading"> UPDATE</h3>
					<button class="button" ng-click="update()">
						UPDATE NOW !
					
				</div>	
			
			<!-- Cục thay đổi trạng thái LED -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				
					<h1> CONTROL </h1>
					<div>
					<h3 class="home-heading"> </h3>
					
						<button  class="button" size="30"   ng-click="up()">
							UP
					</div>
					<h3 class="home-heading"></h3>
					<div>
						<button class="button" size="30" ng-click="left()">
							LEFT
						<button class="button" size="30" ng-click="stop()">
							STOP
						<button  class="button" size="30"   ng-click="right()">
							RIGHT
					</div>	
					<h3 class="home-heading"></h3>
					<div>
					
						<h3 class="home-heading"></h3>	
						<button class="button" size="30" ng-click="down()">
							DOWN
					</div>	
						
				</div>
				<div>
					<h3 class="home-heading">  <small>EMERGENCY CONTROL </small></h3>
					<div>
					
						<button class="button" size="20" ng-click="start()">
						<h1><font   size="5"   color="blue" <small> START </small> </font></h1>
					
						<button class="button" size="20" ng-click="emergency()">
						<h1><font   size="5"   color="red" <small> FREEZE </small> </font></h1>
						
					</div>
				</div>
			</div>
			
			
			
			<!-- Cục cập nhập giá trị cảm biến -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<h1> OPTIONS </h1>
				
				
				<div>
					<h3 class="home-heading"> SEND SOS</h3>
					<button class="button" ng-click="sos()">
						SEND NOW
					</div>
				
				<div>
					<h3 class="home-heading"> RESET MODULE </h3>
					<button class="button" ng-click="res()">
						RESET NOW 
					</div>
					
				
					
			</div>
			<!-- Cục cập nhập giá trị cảm biến -->
		
		</div>	
	</div>
</div>